extends layout 

block content 
    h1= title 
    if denomination_list.length 
        ul 
            each denomination in denomination_list 
                li 
                    a(href=denomination.url) #{denomination.name}
        a(href="/catalog/denomination/add") Add Denomination 
    else 
        p There are no denominations
        a(href="/catalog/denomination/add") Add Denomination