extends layout

block content
  h1= title
  p Welcome to #{title}
  navbar 
    a(href="/catalog/branch") Branches of Christianity 
    a(href="/catalog/denomination") Denominations 
    a(href="/catalog/major-figures") Major Figure   
  navbar 
    a(href="/catalog/addbranch") Add Branch 
    a(href="/catalog/adddenomination") Add Denomination 
    a(href="/catalog/addmajorfigures") Add Major Figures  